In [1]:
import api.metatrader_api as mt5
from analisys.backtest import Backtest

In [5]:
#instanciate MetaTrader Server
mt5_server = mt5.MetaTrader_API(_login=58034070, _password='Ms$12345', _server='XPMT5-DEMO')

#download market data
symbols_list = ['BOVA11', 'IRBR3', 'SMLL', 'DOL$']
hist_list = mt5_server.historical_data_cluster(symbols_list, '2023-04-05', '2023-04-15', 'M5')

In [6]:
#match the dates

hist_list['BOVA11']['date'] = hist_list['BOVA11'].index
hist_list['DOL$']['date'] = hist_list['DOL$'].index

hist_list['DOL$'] = hist_list['DOL$'][hist_list['DOL$']['date'].isin(hist_list['BOVA11']['date'])]
hist_list['BOVA11'] = hist_list['BOVA11'][hist_list['BOVA11']['date'].isin(hist_list['DOL$']['date'])]

In [7]:
hist_list['BOVA11'].head(50)

,time,open,high,low,close,tick_volume,spread,real_volume,date
date,,,,,,,,,
2023-04-05 00:00:00,1680620400,98.86,98.92,98.85,98.91,176,1,7626,2023-04-05 00:00:00
2023-04-05 00:05:00,1680620700,98.91,98.95,98.82,98.84,288,1,22139,2023-04-05 00:05:00
2023-04-05 00:10:00,1680621000,98.84,98.92,98.84,98.92,190,1,9112,2023-04-05 00:10:00
2023-04-05 00:15:00,1680621300,98.92,98.93,98.82,98.84,295,1,12943,2023-04-05 00:15:00
2023-04-05 00:20:00,1680621600,98.84,98.85,98.72,98.73,402,1,45553,2023-04-05 00:20:00
2023-04-05 00:25:00,1680621900,98.72,98.77,98.71,98.75,253,1,22558,2023-04-05 00:25:00
2023-04-05 00:30:00,1680622200,98.75,98.75,98.55,98.58,610,1,71322,2023-04-05 00:30:00
2023-04-05 00:35:00,1680622500,98.62,98.68,98.57,98.66,389,1,45624,2023-04-05 00:35:00
2023-04-05 00:40:00,1680622800,98.65,98.80,98.60,98.75,543,1,20125,2023-04-05 00:40:00
2023-04-05 00:45:00,1680623100,98.76,98.84,98.70,98.79,14196,1,443194,2023-04-05 00:45:00
2023-04-05 00:50:00,1680623400,98.79,98.84,98.78,98.78,1167,1,30781,2023-04-05 00:50:00
2023-04-05 00:55:00,1680623700,98.80,98.83,98.73,98.74,330,1,16681,2023-04-05 00:55:00
2023-04-05 01:00:00,1680624000,98.74,98.80,98.68,98.76,340,1,20757,2023-04-05 01:00:00
2023-04-05 01:05:00,1680624300,98.77,98.77,98.67,98.68,386,1,27338,2023-04-05 01:05:00
2023-04-05 01:10:00,1680624600,98.69,98.79,98.62,98.79,619,1,368137,2023-04-05 01:10:00
2023-04-05 01:15:00,1680624900,98.78,99.01,98.77,98.97,656,1,66794,2023-04-05 01:15:00
2023-04-05 01:20:00,1680625200,98.97,98.99,98.83,98.86,573,1,35249,2023-04-05 01:20:00
2023-04-05 01:25:00,1680625500,98.87,98.88,98.81,98.86,454,1,33709,2023-04-05 01:25:00
2023-04-05 01:30:00,1680625800,98.86,98.88,98.75,98.77,570,1,29117,2023-04-05 01:30:00
2023-04-05 01:35:00,1680626100,98.78,98.80,98.68,98.77,497,1,29501,2023-04-05 01:35:00
2023-04-05 01:40:00,1680626400,98.77,98.78,98.66,98.70,811,1,65002,2023-04-05 01:40:00
2023-04-05 01:45:00,1680626700,98.68,98.69,98.57,98.57,949,1,58618,2023-04-05 01:45:00
2023-04-05 01:50:00,1680627000,98.57,98.65,98.51,98.51,651,1,382000,2023-04-05 01:50:00
2023-04-05 19:05:00,1680689100,98.56,98.76,98.56,98.63,131,1,51973,2023-04-05 19:05:00
2023-04-05 19:10:00,1680689400,98.62,98.64,98.26,98.29,272,1,53352,2023-04-05 19:10:00
2023-04-05 19:15:00,1680689700,98.25,98.25,97.99,98.13,316,1,110411,2023-04-05 19:15:00
2023-04-05 19:20:00,1680690000,98.13,98.17,97.99,98.10,569,1,118349,2023-04-05 19:20:00
2023-04-05 19:25:00,1680690300,98.09,98.13,97.94,98.12,480,1,33120,2023-04-05 19:25:00
2023-04-05 19:30:00,1680690600,98.13,98.23,98.05,98.23,303,1,39509,2023-04-05 19:30:00
2023-04-05 19:35:00,1680690900,98.21,98.26,98.07,98.07,333,1,49489,2023-04-05 19:35:00
2023-04-05 19:40:00,1680691200,98.08,98.28,97.99,98.18,328,1,42136,2023-04-05 19:40:00
2023-04-05 19:45:00,1680691500,98.23,98.29,97.98,98.01,245,1,18925,2023-04-05 19:45:00
2023-04-05 19:50:00,1680691800,97.99,98.04,97.90,98.02,229,1,29487,2023-04-05 19:50:00
2023-04-05 19:55:00,1680692100,98.00,98.01,97.80,97.84,309,1,44413,2023-04-05 19:55:00
2023-04-05 20:00:00,1680692400,97.85,98.02,97.53,97.64,803,1,140706,2023-04-05 20:00:00
2023-04-05 20:05:00,1680692700,97.63,97.70,97.33,97.37,633,1,77042,2023-04-05 20:05:00
2023-04-05 20:10:00,1680693000,97.37,97.38,97.08,97.16,661,1,100350,2023-04-05 20:10:00
2023-04-05 20:15:00,1680693300,97.14,97.22,96.85,96.99,498,1,103047,2023-04-05 20:15:00
2023-04-05 20:20:00,1680693600,96.98,97.18,96.85,97.18,325,1,35025,2023-04-05 20:20:00
2023-04-05 20:25:00,1680693900,97.16,97.26,96.90,96.90,412,1,179698,2023-04-05 20:25:00
2023-04-05 20:30:00,1680694200,96.89,97.10,96.85,96.98,447,1,50942,2023-04-05 20:30:00
2023-04-05 20:35:00,1680694500,96.98,97.08,96.87,96.88,376,1,44205,2023-04-05 20:35:00
2023-04-05 20:40:00,1680694800,96.89,96.99,96.74,96.76,501,1,60312,2023-04-05 20:40:00
2023-04-05 20:45:00,1680695100,96.74,96.97,96.71,96.97,368,1,42848,2023-04-05 20:45:00
2023-04-05 20:50:00,1680695400,96.96,97.09,96.96,96.99,424,1,29561,2023-04-05 20:50:00
2023-04-05 20:55:00,1680695700,97.01,97.07,96.95,96.97,348,1,33814,2023-04-05 20:55:00
2023-04-05 21:00:00,1680696000,96.97,97.01,96.93,96.99,295,1,32870,2023-04-05 21:00:00
2023-04-05 21:05:00,1680696300,96.99,97.00,96.88,96.88,254,1,10761,2023-04-05 21:05:00
2023-04-05 21:10:00,1680696600,96.87,97.06,96.85,97.06,352,1,14709,2023-04-05 21:10:00
2023-04-05 21:15:00,1680696900,97.07,97.28,97.07,97.15,704,1,75479,2023-04-05 21:15:00

In [8]:
from analisys.backtest import Backtest
from skopt import forest_minimize

In [9]:
''' 
Algumas considerações sobre essa parte do codigo:
-preciso voltar com a otimização do long spread e short spread
-preciso normalizar os valores pra ficar entre 0 e 1 no space: Posso fazer uma função de normalização e desnormalização

'''

class BacktestOptimizer:

    def __init__(self) -> None:
        
        self.backtest_class = Backtest()


    def __call__(self,
                 symbol_x,
                 symbol_y,
                 df):
        
        space = [(1.0, 3.0),   #short_spread
                 (-3.0, -1.0), #long_spread
                (5, 20),         #period
                (0.01, 0.05),     #tp
                (-0.05, -0.01)]   #sl
        
        def simple_backtest(args):
            
            short_spread, long_spread, period, take_profit, stop_loss = args
            run_backtest = self.backtest_class('BOVA11', 'DOL$', df, 'close', short_spread, 
                                                    long_spread, 10000, period, take_profit, stop_loss, 'roi')
            
            return -run_backtest

        run_optimizer = forest_minimize(simple_backtest, space, random_state=1, verbose=1, n_calls = 50)

        return run_optimizer

In [10]:
backtest_optimizer = BacktestOptimizer()
run = backtest_optimizer('BOVA11', 'DOL$', hist_list)

Iteration No: 1 started. Evaluating function at random point.
Iteration No: 1 ended. Evaluation done at random point.
Time taken: 0.1651
Function value obtained: 0.0052
Current minimum: 0.0052
Iteration No: 2 started. Evaluating function at random point.
Iteration No: 2 ended. Evaluation done at random point.
Time taken: 0.0797
Function value obtained: 0.0125
Current minimum: 0.0052
Iteration No: 3 started. Evaluating function at random point.
Iteration No: 3 ended. Evaluation done at random point.
Time taken: 0.0699
Function value obtained: 0.0154
Current minimum: 0.0052
Iteration No: 4 started. Evaluating function at random point.
Iteration No: 4 ended. Evaluation done at random point.
Time taken: 0.1403
Function value obtained: 0.0057
Current minimum: 0.0052
Iteration No: 5 started. Evaluating function at random point.
Iteration No: 5 ended. Evaluation done at random point.
Time taken: 0.1796
Function value obtained: 0.0052
Current minimum: 0.0052
Iteration No: 6 started. Evaluating function at random point.
Iteration No: 6 ended. Evaluation done at random point.
Time taken: 0.1295
Function value obtained: 0.0067
Current minimum: 0.0052
Iteration No: 7 started. Evaluating function at random point.
Iteration No: 7 ended. Evaluation done at random point.
Time taken: 0.0101
Function value obtained: -0.0140
Current minimum: -0.0140
Iteration No: 8 started. Evaluating function at random point.
Iteration No: 8 ended. Evaluation done at random point.
Time taken: 0.1590
Function value obtained: 0.0051
Current minimum: -0.0140
Iteration No: 9 started. Evaluating function at random point.
Iteration No: 9 ended. Evaluation done at random point.
Time taken: 0.0856
Function value obtained: 0.0111
Current minimum: -0.0140
Iteration No: 10 started. Evaluating function at random point.
Iteration No: 10 ended. Evaluation done at random point.
Time taken: 0.5394
Function value obtained: 0.0164
Current minimum: -0.0140
Iteration No: 11 started. Searching for the next optimal point.
Iteration No: 11 ended. Search finished for the next optimal point.
Time taken: 0.3647
Function value obtained: -0.0140
Current minimum: -0.0140
Iteration No: 12 started. Searching for the next optimal point.
Iteration No: 12 ended. Search finished for the next optimal point.
Time taken: 0.4896
Function value obtained: 0.0043
Current minimum: -0.0140
Iteration No: 13 started. Searching for the next optimal point.
Iteration No: 13 ended. Search finished for the next optimal point.
Time taken: 0.3486
Function value obtained: -0.0124
Current minimum: -0.0140
Iteration No: 14 started. Searching for the next optimal point.
Iteration No: 14 ended. Search finished for the next optimal point.
Time taken: 0.3678
Function value obtained: -0.0122
Current minimum: -0.0140
Iteration No: 15 started. Searching for the next optimal point.
Iteration No: 15 ended. Search finished for the next optimal point.
Time taken: 0.4742
Function value obtained: 0.0106
Current minimum: -0.0140
Iteration No: 16 started. Searching for the next optimal point.
Iteration No: 16 ended. Search finished for the next optimal point.
Time taken: 0.3687
Function value obtained: -0.0127
Current minimum: -0.0140
Iteration No: 17 started. Searching for the next optimal point.
Iteration No: 17 ended. Search finished for the next optimal point.
Time taken: 0.3818
Function value obtained: -0.0128
Current minimum: -0.0140
Iteration No: 18 started. Searching for the next optimal point.
Iteration No: 18 ended. Search finished for the next optimal point.
Time taken: 0.3783
Function value obtained: -0.0118
Current minimum: -0.0140
Iteration No: 19 started. Searching for the next optimal point.
Iteration No: 19 ended. Search finished for the next optimal point.
Time taken: 0.5094
Function value obtained: 0.0123
Current minimum: -0.0140
Iteration No: 20 started. Searching for the next optimal point.
Iteration No: 20 ended. Search finished for the next optimal point.
Time taken: 0.3383
Function value obtained: -0.0123
Current minimum: -0.0140
Iteration No: 21 started. Searching for the next optimal point.
Iteration No: 21 ended. Search finished for the next optimal point.
Time taken: 0.3600
Function value obtained: -0.0116
Current minimum: -0.0140
Iteration No: 22 started. Searching for the next optimal point.
Iteration No: 22 ended. Search finished for the next optimal point.
Time taken: 0.3776
Function value obtained: -0.0121
Current minimum: -0.0140
Iteration No: 23 started. Searching for the next optimal point.
Iteration No: 23 ended. Search finished for the next optimal point.
Time taken: 0.3866
Function value obtained: -0.0120
Current minimum: -0.0140
Iteration No: 24 started. Searching for the next optimal point.
Iteration No: 24 ended. Search finished for the next optimal point.
Time taken: 0.3590
Function value obtained: -0.0121
Current minimum: -0.0140
Iteration No: 25 started. Searching for the next optimal point.
Iteration No: 25 ended. Search finished for the next optimal point.
Time taken: 0.5633
Function value obtained: 0.0186
Current minimum: -0.0140
Iteration No: 26 started. Searching for the next optimal point.
Iteration No: 26 ended. Search finished for the next optimal point.
Time taken: 0.3745
Function value obtained: -0.0124
Current minimum: -0.0140
Iteration No: 27 started. Searching for the next optimal point.
Iteration No: 27 ended. Search finished for the next optimal point.
Time taken: 0.3694
Function value obtained: -0.0115
Current minimum: -0.0140
Iteration No: 28 started. Searching for the next optimal point.
Iteration No: 28 ended. Search finished for the next optimal point.
Time taken: 0.4910
Function value obtained: 0.0186
Current minimum: -0.0140
Iteration No: 29 started. Searching for the next optimal point.
Iteration No: 29 ended. Search finished for the next optimal point.
Time taken: 0.3666
Function value obtained: -0.0129
Current minimum: -0.0140
Iteration No: 30 started. Searching for the next optimal point.
Iteration No: 30 ended. Search finished for the next optimal point.
Time taken: 0.3967
Function value obtained: -0.0134
Current minimum: -0.0140
Iteration No: 31 started. Searching for the next optimal point.
Iteration No: 31 ended. Search finished for the next optimal point.
Time taken: 0.3897
Function value obtained: -0.0119
Current minimum: -0.0140
Iteration No: 32 started. Searching for the next optimal point.
Iteration No: 32 ended. Search finished for the next optimal point.
Time taken: 0.4120
Function value obtained: -0.0123
Current minimum: -0.0140
Iteration No: 33 started. Searching for the next optimal point.
Iteration No: 33 ended. Search finished for the next optimal point.
Time taken: 0.4023
Function value obtained: -0.0126
Current minimum: -0.0140
Iteration No: 34 started. Searching for the next optimal point.
Iteration No: 34 ended. Search finished for the next optimal point.
Time taken: 0.4637
Function value obtained: -0.0110
Current minimum: -0.0140
Iteration No: 35 started. Searching for the next optimal point.
Iteration No: 35 ended. Search finished for the next optimal point.
Time taken: 0.4014
Function value obtained: -0.0112
Current minimum: -0.0140
Iteration No: 36 started. Searching for the next optimal point.
Iteration No: 36 ended. Search finished for the next optimal point.
Time taken: 0.3754
Function value obtained: -0.0127
Current minimum: -0.0140
Iteration No: 37 started. Searching for the next optimal point.
Iteration No: 37 ended. Search finished for the next optimal point.
Time taken: 0.4756
Function value obtained: 0.0186
Current minimum: -0.0140
Iteration No: 38 started. Searching for the next optimal point.
Iteration No: 38 ended. Search finished for the next optimal point.
Time taken: 0.3776
Function value obtained: -0.0134
Current minimum: -0.0140
Iteration No: 39 started. Searching for the next optimal point.
Iteration No: 39 ended. Search finished for the next optimal point.
Time taken: 0.3717
Function value obtained: -0.0139
Current minimum: -0.0140
Iteration No: 40 started. Searching for the next optimal point.
Iteration No: 40 ended. Search finished for the next optimal point.
Time taken: 0.4612
Function value obtained: -0.0131
Current minimum: -0.0140
Iteration No: 41 started. Searching for the next optimal point.
Iteration No: 41 ended. Search finished for the next optimal point.
Time taken: 0.4647
Function value obtained: 0.0222
Current minimum: -0.0140
Iteration No: 42 started. Searching for the next optimal point.
Iteration No: 42 ended. Search finished for the next optimal point.
Time taken: 0.5481
Function value obtained: 0.0062
Current minimum: -0.0140
Iteration No: 43 started. Searching for the next optimal point.
Iteration No: 43 ended. Search finished for the next optimal point.
Time taken: 0.3865
Function value obtained: -0.0111
Current minimum: -0.0140
Iteration No: 44 started. Searching for the next optimal point.
Iteration No: 44 ended. Search finished for the next optimal point.
Time taken: 0.4909
Function value obtained: -0.0135
Current minimum: -0.0140
Iteration No: 45 started. Searching for the next optimal point.
Iteration No: 45 ended. Search finished for the next optimal point.
Time taken: 0.3939
Function value obtained: -0.0128
Current minimum: -0.0140
Iteration No: 46 started. Searching for the next optimal point.
Iteration No: 46 ended. Search finished for the next optimal point.
Time taken: 0.5162
Function value obtained: -0.0124
Current minimum: -0.0140
Iteration No: 47 started. Searching for the next optimal point.
Iteration No: 47 ended. Search finished for the next optimal point.
Time taken: 0.4740
Function value obtained: -0.0115
Current minimum: -0.0140
Iteration No: 48 started. Searching for the next optimal point.
Iteration No: 48 ended. Search finished for the next optimal point.
Time taken: 0.5791
Function value obtained: 0.0252
Current minimum: -0.0140
Iteration No: 49 started. Searching for the next optimal point.
Iteration No: 49 ended. Search finished for the next optimal point.
Time taken: 0.4476
Function value obtained: -0.0119
Current minimum: -0.0140
Iteration No: 50 started. Searching for the next optimal point.
Iteration No: 50 ended. Search finished for the next optimal point.
Time taken: 0.4791
Function value obtained: -0.0130
Current minimum: -0.0140

In [11]:
opt_param = run['x']

In [12]:
#run backtest

bkt_class = Backtest()
bkt_run = bkt_class('BOVA11', 'DOL$', hist_list, 'close', opt_param[0], opt_param[1], 100000 , opt_param[2], opt_param[3], opt_param[4], 'roi')

bkt_class.log

{'98b2eb0cc9b4ac8d': {'type': 'short_spread',
  'number_x': 'bdbf06b7c909',
  'number_y': 'bc91dfff5b63',
  'type_x': 'buy',
  'type_y': 'sell',
  'symbol_x': 'BOVA11',
  'symbol_y': 'DOL$',
  'buy_price_x': 98.79,
  'sell_price_x': 96.88,
  'sell_price_y': 5232.042,
  'buy_price_y': 5186.453,
  'volume_x': 506.1241016297196,
  'volume_y': 9.556498208538844,
  'open_date': '2023-04-05 01:10:00',
  'close_date': '2023-04-05 20:35:00',
  'profit_x': 966.6970341127699,
  'profit_y': 435.6711968290768,
  'profit': 1402.3682309418466,
  'expo': 100000.0,
  'open_index': 14,
  'close_index': 41,
  'roi': 0.014023682309418466}}